@value cardStyles: "../card/card.css";

.root {
  composes: root from cardStyles;
}

.inner {
  composes: inner from cardStyles;
}

.image {
  composes: image from cardStyles;
  border: 1px solid #000;
  margin-bottom: -32px;
}

.description {
  margin: 16px;
  background: #FFF;
  height: 30%;
  width: 80%;
  padding: 16px;
  font-family: "Comic Sans MS";
  font-size: 12px;
  text-shadow: none;
  text-transform: none;
}

.title {
  text-transform: uppercase;
  font-family: impact;
  color: #FFF;
  text-shadow: 0 0 3px #000;
}
