.root {
  composes: root from "../common-card/card.css";
}

.inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: #EEE;
  border-radius: 4px;
}

.image {
  width: 80%;
}