@value colors: "../../shared/colors.css";
@value paleGrey from colors;
@value midGrey from colors;

.root {
  width: 200px;
  height: 300px;
  padding: 16px;
  border-radius: 12px;
  box-shadow: -4px 4px 16px midGrey;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  margin-right: 32px;
  transition: all 0.5s ease-in-out;
}

.root:hover {
  box-shadow: -4px 14px 16px midGrey;
}

.inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: paleGrey;
  border-radius: 4px;
}

.image {
  width: 100%;
}